@import "../../stylesheet/ColorSheet.css";

@media only screen and (max-width:5000px){
	.profile-container-for-owner {
		position: fixed;
		margin-top: 75px;
		margin-bottom: 20px;
		width: 100vw;
		height: 100vh;
		height: calc(100vh - 75px);
		overflow-y: auto;
		overflow-x: hidden;
		display: flex;
		justify-content: center;

		& .image-container{
			/* border: red 1px solid; */
			display: flex;
			justify-content: center;
			align-items: center;
			width: 120px;
			height: 120px;
			min-width: 120px;
			min-height: 120px;
			margin-top: 50px;
			margin-bottom: 20px;
			border-radius: 50%;
			overflow: hidden;

			.circular-image {
				width: 120px;
				height: 120px;
				border-radius: 60%;
				object-fit: cover;
				border: 3px solid #FF2E63;
			}
						
		}
	
		& .profile-detail{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	
		& .button-container{
			margin-top: 20px;
			margin-bottom: 40px;
		}
	
	}
}


.gender-image{
	width: 30px;
	height: 30px;
}


#img-cup{
	width: 30px;
	height: 30px;
}
.content-left-for-owner{  
	/* width: 40vw; */
	display: block;
	justify-content: center;
	align-items: center;
	
	border-radius: 10px;
	padding: 28px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px, rgba(0, 0, 0, 0.16) 0px 0px 6px;
	backdrop-filter: blur(5px); 
	margin-right: 30px;
	
}

.table-for-show-order 	{
	width: 60vw;
	height: 100%;
	display: block;
	justify-content: center;
	align-items: center;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px, rgba(0, 0, 0, 0.16) 0px 0px 6px;
	border-radius: 10px;
	background-color: #ffffff;
	overflow-y: auto;
}


.table-for-show-order .ant-table-thead > tr > th{	
	background-color: #FF2E63; 
	text-align: center;
	color: white;
	/* border: rgb(0, 0, 0) 1px solid; */
	

}
.all-content-for-admin{
	display: flex;
	margin-top: 30px;
	align-items: start;
	margin-bottom: 30px;
}
.image-cover{
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: end;
}
.cover-table{
	width: 100%;
	/* border: #FF2E63 solid 1px; */
	display: flex;
	justify-content: center;
	overflow-y: auto;
}

#but-detail{
	background-color: #FF2E63;
	border: none;
	font-size: 16px;
	padding: 2px 10px;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	
}
#but-confirm-order{
	background-color: rgb(71, 209, 71);
	border: none;
	border-radius: 6px;
	font-size: 16px;
	padding: 2px 10px;
	color: white;
	cursor: pointer;
	transition: all 0.5s;
}
#but-confirm-order:hover{
	background-color: rgb(55, 241, 55);
}

.ant-table-cell{
	text-align: center;
	
}
#order-head{
	font-size: 30px;

}
.comtroll-but{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 5px 0px;
}
.btn-logout{
	background-color: #FF2E63;
	padding: 5px 10px;
	color: white;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
}

.ant-table-wrapper .ant-table-pagination-right{
	justify-content: center;
}
.ant-pagination .ant-pagination-item-active a{
	color:black;

}
.ant-pagination .ant-pagination-item-active {
	border-color: #FF2E63;
}




/* popup */

.back-slip{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
 
 backdrop-filter: blur(5px); 
}
#slip-image{
   width: 500px;
   height: 500px;
   
}
#but-preview-slip{
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	
	border-radius: 6px;
	padding: 2px 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	

}
.disabled-button {
	background-color: #ccc !important; /* สีพื้นหลังของปุ่มที่ปิดการใช้งาน */
	color: #666 !important;           /* สีข้อความของปุ่มที่ปิดการใช้งาน */
	border-color: #999 !important;    /* สีของขอบปุ่ม */
	cursor: not-allowed;              /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
  }
#reuplode-slip{
	background-color: #FF2E63;
	border: none;
	font-size: 16px;
	padding: 2px 10px;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	
	transition: all 0.5s;
}
#reuplode-slip:hover{
	background-color: #df355f;
}
.group-order-but{
  display: flex;
  flex-direction: column; /* จัดปุ่มในแนวตั้ง */
  gap: 10px; /* ช่องว่างระหว่างปุ่ม */
  
}




@media only screen and (max-width:1100px){
	.profile-container{
		margin-top: 130px;
		height: calc(100vh - 130px);
	}
}

@media only screen and (max-width:870px){
	.profile-container{
		margin-top: 170px;
		height: calc(100vh - 170px);
	}
}