@import "../../stylesheet/ColorSheet.css";
/* styles.css */

.custom-cardT {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    position: absolute;
    margin-top: 205px;
    margin-left: 80px;
    border: 0px solid;
    width: 50%;
    box-shadow: 0px 2px 10px var(--shadow-color1);
    font-size: 24px;
    overflow: auto; 
    z-index: 0; /* Ensure it stays above other elements */
}

.custom-table .ant-table-thead > tr > th {
    background-color: #f0f0f0; 
    text-align: center; 
}

.custom-table .ant-table-tbody > tr > td{
    text-align: center; 
    font-size: 14px; 
}

.custom-table .ant-table {
    border: 0px solid #d9d9d9;
    width: 100%; 
    overflow-y: auto;
}

.custom-table {
    max-height: 400px; /* กำหนดความสูงสูงสุดที่ต้องการ */
    overflow-y: auto; /*ทำให้ตารางเลื่อนลงได้*/
    width: 100%; /* ปรับขนาดตาราง */
}