
.show-detail-in-order{
    /* position: fixed; */
    /* margin-top:75px; */
    /* border: red 1px solid; */
    width: 100vw;
    /* height: 600px; */
   height: 100vh;
    z-index: 0;
    padding: 75px;
    display: flex;
    justify-content: center;
    background-color: var(--maintheme-color);
    
}
.detail-table-orderid{
    margin-top: 10px;
    width: 60vw;
    /* height: 200px; */
    background-color: white;
    z-index: 1;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px, rgba(0, 0, 0, 0.16) 0px 0px 6px;
    border-radius: 10px;
    
	background-color: #ffffff;
    max-height: fit-content;
    overflow: auto;
    z-index: 0;
    & .ant-table-thead > tr > th{
        background-color: #FF2E63;
        color: white;
        text-align: center;
    }
    
    
        
}
.ant-pagination-item-link{
        margin-top: 0px;
    }   
#orderdetail-all {
    /* border: red 1px solid; */
    text-align: center;
    margin-bottom: 10px;
}
#but-back{

        background-color: #000000;
        border: none;
        font-size: 16px;
        padding: 2px 10px;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.5s;
        
    }

#but-back:hover{
    background-color: #363535;
}
