.ant-layout my-layout1 {
    position: fixed;
    width: 100vw;
    margin-top: 75px;
    height: calc(100vh - 75px);
    overflow: auto;
    display: flex;
    padding-bottom: 20px;
}

.admin-management-container {
    padding: 20px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal-details p {
    margin: 8px 0;
}

.modal-actions {
    margin-top: 10px;
}

.modal-actions button {
    width: 100px;
}


@media (max-width: 768px) {
    .action-buttons button {
        padding: 3px 5px;
    }

    .admin-profile {
        max-width: 50px;
    }
}

.custom-image {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    object-fit: cover;
    border: 3px solid #FF2E63;
}

.owner-table .ant-table-thead > tr > th {
    background-color: #FF2E63; 
    color: #fff; 
    font-size: 18px; 
    font-weight: bolder;
    border: none !important;
}

.owner-table .ant-table-cell {
    border: none !important; 
}

.owner-table .ant-table-cell {
    border-bottom: 1px solid #e8e8e8 !important; 
}

.owner-table .ant-table-cell {
    padding: 20px !important; 
}

.owner-table tr:hover {
    cursor: pointer;
}



.owner-table .ant-table-thead td {
    font-weight: bold !important; 
    text-align: center !important; 
}

.owner-table .ant-table-content{
    /* border:1px solid red; */
    margin-bottom: 20px;
    width: 1000px;

}
