/* image.css */
.myimage {
    position: relative; /* เปลี่ยนเป็น relative เพื่อให้ตารางเลื่อนในคอนเทนเนอร์นี้ */
    background-color: white;
    width: 50%;
    border-radius: 5%;
    display: block; /* ปรับให้รูป QR เป็น block เพื่อจัดตำแหน่งได้ดี */
    margin: 0 auto; /* จัดรูป QR ให้อยู่กลาง */
}