/* page.css */
.mylayout {
    position: relative; /* ให้คอนเทนเนอร์หลักอยู่ในตำแหน่ง relative */
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    min-height: 100vh; /* ใช้ความสูงขั้นต่ำของหน้าจอ */
    overflow-y: auto; /* ทำให้คอนเทนเนอร์หลักเลื่อนลงได้ */
    padding: 0px; /* เพิ่ม padding ตามต้องการ */
    box-sizing: border-box;
}