@import "ColorSheet.css";

@media only screen and (max-width:5000px){
    .smallimage-container{
        /* border: 1px solid red; */
        min-width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 5px;
        overflow: hidden;
    
        & img{
            width: 85%;
            transition: all 0.3s;
            border-radius: 15px;
            border: 2px solid transparent;
        }
    
        & img:hover{
            width: 90%;
            box-shadow: 0px 0px 5px var(--shadow-color2);
            border: 3px solid var(--subtheme-color1);
        }
        
    }
}

@media only screen and (max-width:360px){
    .smallimage-container{
        margin: 0px;
    }
}