
.my-layout2{
  position: fixed;
  width: 100vw;
  margin-top: 75px;
  height: calc(100vh - 75px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #F6F9FC;
  padding-bottom: 50px;
}

.owner-form-container {
  max-width: 800px;
  padding: 50px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px #F6F9FC(0, 0, 0, 0.1);
  margin-top: 150px;
 
}

/* custom.css */
.custom-password-input {
  border: 1px solid #d9d9d9; /* ขอบ input */
  border-radius: 6px; /* มุมกลม */
  padding: 5px; 
  width: 100%; 
  height: 31px;
  font-weight: 360;
  transition: border-color 0.3s, box-shadow 0.3s; /* เพิ่มการเปลี่ยนแปลง */
}

.custom-password-input::placeholder {
  color: #d9d9d9; /* เปลี่ยนสี placeholder */
  padding: 8px;
}

.custom-password-input:focus {
  border-color: #FF2E63; /* สี border เมื่อ focus */
  box-shadow: 0 0 0 2px rgba(255, 46, 99, 0.2); /* เงาเมื่อ focus */
  outline: none; /* ลบ outline ดั้งเดิม */
}

.custom-password-input:hover {
  border-color: #FF2E63; /* สี border เมื่อ hover */
}


.password-container {

  position: relative; 
}

.custom-password-input {
  width: 100%; 
  padding-right: 30px; 
}

.toggle-password-visibility {
  width: 18px; 
  height: 18px; 
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  cursor: pointer; 
  transition: transform 0.75s ease, opacity 0.75s ease; 

}




  