@import "../../stylesheet/ColorSheet.css";

.edit-container{
    margin-top: 75px;
    position: fixed;
    display: flex;
    overflow: auto;
    height: calc(100vh - 75px);
}

.submit-btn{
    background-color: #FF2E63 !important;
}


.ant-input:focus {
        border-color: #FF2E63;
        box-shadow: #FF2E63;
}

.ant-input:hover {
    border-color: #FF2E63;
    box-shadow: 0 0 6px #FF2E63;
}

/* เส้นกรอบเริ่มต้นเป็นสีเทา */
.ant-select-selector {
    border: 2px solid #ccc; /* เส้นกรอบสีเทา */
    border-radius: 4px; /* ปรับตามที่ต้องการ */
}

/* เส้นกรอบสีเทาเมื่อไม่โฟกัส */
.ant-select:not(.ant-select-focused) .ant-select-selector {
    border-color: #ccc; /* กลับเป็นสีเทา */
}

/* ป้องกันเส้นกรอบหายเมื่อเลือก */
.ant-select-item-option-selected {
    background-color: rgba(255, 46, 99, 0.1) !important; /* สีพื้นหลังเมื่อเลือก */
}

/* ทำให้เส้นกรอบคงอยู่หลังการเลือก */
.ant-select:not(.ant-select-disabled) .ant-select-selector {
    border-color: #ccc !important; /* ทำให้เส้นกรอบอยู่ตลอด */
}

/* เส้นกรอบสีแดงเมื่อมีการโฟกัส */
.ant-select-selector:focus,
.ant-select-selector.ant-select-selector-focused {
    border-color: #FF2E63 !important; /* เส้นกรอบสีแดงเมื่อมีการโฟกัส */
}

.show-profile-box{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 10px;

    & img{
        width: 100%;
    }
}

#btn-upload-image{
    width: 80px;
    height: 30px;
    background-color: #FF2E63;
    color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-upload-image:hover{
    font-size: 13.5px;
}

.ant-card-body{
    width: 75%;
}

.ant-picker:hover {
    border-color: #FF2E63;
    box-shadow: 0 0 6px #FF2E63;
}

.ant-picker.ant-picker-focused{
    border-color: #FF2E63;
    box-shadow: 0 0 3.5px #FF2E63;
}

.ant-picker:not(.ant-picker-focused):not(:hover) {
    border-color: none; /* Apply pink color */
    box-shadow: none; /* Adjust if needed */
}