@import "../../stylesheet/ColorSheet.css";

.edit-container{
    display: flex;
    position: fixed;
    margin-top: 75px;
    width: 100%;
    height: calc(100vh - 75px);
    flex-direction: column;
    align-items: center;
    color: var(--mainfont-color);
    justify-content: center;
    
    & .grid-container{
        width: 43%;
        height: 350px;
        display: grid;
        gap: 0px 5px;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,auto);
        grid-template-areas: 
            "prefix fname fname lname lname birthday"
            "email email email password password password"
<<<<<<< Updated upstream
=======
            "sel-add sel-add sel-add sel-add sel-add sel-add"
>>>>>>> Stashed changes
            "address address address subdistrict subdistrict subdistrict"
            "district district district province province province"
            "zipcode - - - - -"
            "submit - - - - -"
        ;

        & input, select{
            width: 100%;
            height: 25px;
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid;
            
        }
        & input:focus-visible, select:focus-visible, textarea:focus-visible{
            outline: 2px solid var(--subtheme-color1);
            border-color: var(--subtheme-color1);
        }

        & textarea {
            height: 55px;
        }

        & .prefix-box{
            grid-area: prefix;
        }
        & .fname-box{
            grid-area: fname;
        }
        & .lname-box{
            grid-area: lname;
        }
        & .birthday-box{
            grid-area: birthday;
        }
        & .email-box{
            grid-area: email;
        }
        & .password-box{
            grid-area: password;
<<<<<<< Updated upstream
            column-span: 3;
=======
        }
        & .select-address{
            grid-area: sel-add;
>>>>>>> Stashed changes
        }
        & .province-box{
            grid-area: province;
        }
        & .district-box{
            grid-area: district;
        }
        & .subdistrict-box{
            grid-area: subdistrict;
        }
        & .address-box{
            grid-area: address;
        }
        & .zipcode-box{
            grid-area: zipcode;
        }
        & .submit-box{
            grid-area: submit;

            & .btn{
                height: 35px;
                border-radius: 5px;
                border: 2px solid var(--subtheme-color1);
                background-color: var(--subtheme-color1);
                color: var(--subfont-color2);
                transition: all 0.5s;
            }

            & .btn:hover{
                box-shadow: 0px 0px 5px var(--subtheme-color1);
                font-size: 14px;
            }
        }
    }
    
}