@import "../../stylesheet/ColorSheet.css";

.edit-container{
    margin-top: 75px;
    position: fixed;
    display: flex;
    overflow: auto;
    height: calc(100vh - 75px);
}

.submit-btn{
    background-color: var(--subtheme-color1) !important;
}


.ant-input:focus {
        border-color: var(--subtheme-color1);
        box-shadow: var(--subtheme-color1);
}

.ant-input:hover {
    border-color: var(--subtheme-color1);
    box-shadow: 0 0 6px var(--subtheme-color1);
}

/* .ant-select-selector:focus{
    border-color: var(--subtheme-color1);
    box-shadow: 0 0 6px var(--subtheme-color1);
} */

.ant-select-selector:hover{
    border-color: var(--subtheme-color1) !important;
    box-shadow: 0 0 6px var(--subtheme-color1) !important;
}

.ant-select-selector:hover{
    border-color: var(--subtheme-color1) !important;
    box-shadow: 0 0 6px var(--subtheme-color1) !important;
}

.ant-picker:hover, .ant-picker:focus{
    border-color: var(--subtheme-color1);
    box-shadow: 0 0 6px var(--subtheme-color1);
}

.show-profile-box{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 10px;

    & img{
        width: 100%;
    }
}

#btn-upload-image{
    width: 80px;
    height: 30px;
    background-color: var(--subtheme-color1);
    color: var(--subfont-color2);
    border-radius: 5px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-upload-image:hover{
    font-size: 13.5px;
}

.ant-card-body{
    width: 75%;
}
