@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');
* {
    font-family: "Noto Sans Thai", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  } 



.Summary{
    margin-top:18px ;
    width: 410px;
    height: 360px;
    background-color: white;
    border-radius: 10px;
    padding: 0px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 20px;
    margin-left: 10px;
}
.data{

    display: flex;
    width: 100%;
    height: 29px;
    justify-content: space-between;
    font-size:24px;
    margin-bottom: 22px;
  

    & p{
        margin: 0px;
    }
}
.submit{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sum-topic{
    & p{
        margin-top: 0px;
        margin-bottom: 2px;
        font-size: 40px;
        color: #FF2E63;
        font-weight: bold;    
    }
    
    
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
#checkout{
    font-size: 25px;
    width: 270px;
    height: 67px;
    background-color:#FF2E63 ;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}
#checkout:hover{
    background-color:#fa3869 ;
}
.under {
    & hr{
       margin-bottom: 10px;     
    }
    
   
}
#fill1{
    color: #FF3C00;
}
.summary-container{
    position: fixed;
    display: flex;
    width: 41vw;
    margin-left: 59vw;
    height: 100;
    margin-top: 140px;
    align-items: center;
   justify-content: start;
    height: calc(100vh-75px);
    /* border: red 1px solid; */
    padding-left: 10px;
    
}