@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');
* {
    font-family: "Noto Sans Thai", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  } 



.Summary{
    margin-top:18px ;
    width: 410px;
    height: 360px;
    background-color: white;
    border-radius: 10px;
    padding: 0px 40px;
    box-shadow: 0px 4px 8px 2px rgba(72, 71, 71, 0.2), 0 6px 20px 0 rgba(143, 142, 142, 0.19);
    padding-top: 20px;
    margin-left: 10px;
}
.data{

    display: flex;
    width: 100%;
    height: 29px;
    justify-content: space-between;
    font-size:24px;
    margin-bottom: 22px;
  

    & p{
        margin: 0px;
    }
}
.submit{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sum-topic{
    & p{
        margin-top: 0px;
        margin-bottom: 2px;
        font-size: 40px;
        color: #FF2E63;
        font-weight: bold;    
    }
    
    
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
#checkout{
    font-size: 25px;
    width: 270px;
    height: 67px;
    background-color:#FF2E63 ;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
#checkout:hover{
    background-color:#fa3869 ;
    box-shadow: 0 0 3px 1px #FF2E63;
    font-size: 27px;
}
.under {
    & hr{
       margin-bottom: 10px;     
    }
    
   
}
#fill1{
    color: var(--subfont-color3);
}
.summary-container{
    /* position: fixed; */
    display: flex;
    /* width: 41vw; */
    /* margin-left: 59vw; */
    /* height: 100; */
    margin-top: 140px;
    align-items: center;
   justify-content: start;
    height: calc(100vh-75px);
    /* border: red 1px solid; */
    /* padding-left: 10px; */
    
}

.overlay {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
 z-index: 99;
  backdrop-filter: blur(5px); 
}
.pop_content {
  width: 600px;
  min-height: 300px;
  max-height: 650px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 
  box-shadow: 0px 0px 4px 2px var(--shadow-color2);


}
.scole-item{
    max-height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.productshow{
    /* border: #fa3869 1px solid; */
    border-bottom: #c0b9bb 1px solid;
    
  
}
.controll-button{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    /* border: #fa3869 1px solid; */

    & button{
        height: 100%;
        width: 30%;
        font-size: 16px;
        border-radius: 5px;
    }

    & .confirm-button {
        background-color: var(--subtheme-color1);
        border: 2px solid var(--subtheme-color1);
        color: var(--subfont-color2);
        transition: all 0.3s;
    }
   
    & .confirm-button:hover {
        box-shadow: 0 0 3px 1px var(--shadow-color2);
        font-size: 17px;
    }

    & .cancel-button {
        background-color: transparent;
        border: 2px solid var(--subtheme-color1);
        color: var(--mainfont-color);
        transition: all 0.3s;
        
    }
    & .cancel-button:hover{
        
        box-shadow: 0 0 3px 1px var(--shadow-color1);
        font-size: 18px; 
        
       
    }
}
.toppic{
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.detail-sub{

    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
}
.address-box{
    width: 460px;
    height: 80px;
    overflow: auto;

    
}
.conaddall{
    /* border: #fa3869 1px solid; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 9px;
    
    
}
.totalprice{
    width: 100%;
    display: flex;
    font-weight: 600;
 
    padding-left: 10px;
    justify-content: end;
    padding-right: 15px;
}
