@import "../../../stylesheet/ColorSheet.css";
.login-customer-container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #4583ff, #ff507c);
    display: flex;
    justify-content: center;
    align-items: center;

    & .form-login-container{
        width: 60%;
        max-width: 850px;
        min-width: 800px;
        height: 50%;
        max-height: 550px;
        min-height: 480px;
        background-color: var(--subtheme-color3);
        border-radius: 15px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.26);
        display: flex;
        position: relative;
        overflow: hidden;

        & .title-detail{
            color: var(--subfont-color2);
        }

        & .span-detail{
            color: var(--subfont-color2);
            width: 80%;
        }
        
        & .bg-color-box{
            position: absolute;
            width: 50%;
            height: 100%;
            background: linear-gradient(45deg, #276fff, #ff4271);
            left: 50%;
            border-radius: 100px 0px 0px 100px;
            transition: all 0.5s ease-in;
            
        }

        & .bg-color-box.active{
            transform: translateX(-100%);
            border-radius: 0px 100px 100px 0px;
        }

        & .toggle-to-signup{
            z-index: 99;
            left: 50%;
            position: absolute;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease-in;
        }

        & .toggle-to-signup.active{
            transform: translateX(-100%);
            z-index: -1;
            opacity: 0;
        }

        & .toggle-to-signin{
            z-index: -1;
            left: 50%;
            opacity: 0;
            position: absolute;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease-in;
        }

        & .toggle-to-signin.active{
            transform: translateX(-100%);
            z-index: 99;
            opacity: 1;
        }

        & .tg-signup-btn, .tg-signin-btn{
            width: 28%;
            height: 35px;
            border-radius: 5px;
            border: 3px solid var(--subtheme-color3);
            background-color: transparent;
            cursor: pointer;
            font-weight: 700;
            margin-top: 30px;
            color: var(--subtheme-color3);
            transition: all 0.5s;
        }

        & .tg-signup-btn:hover, .tg-signin-btn:hover{
            font-size: 13px;
        }

        & .form-signin-container.active{
            transform: translateX(-100%);
        }

        & .form-signin-container{
            position: absolute;
            min-width: 300px;
            max-width: 500px;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease-in;
    
            & .signin-form{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: var(--mainfont-color);
    
                & .title{
                    font-size: 25px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    color: var(--mainfont-color);
    
                    & span{
                        color: var(--subtheme-color1);
                    }
                }
    
                & .submit-btn{
                    margin-top: 25px;
                    height: 35px;
                    width: 70%;
                    font-weight: 600;
                    cursor: pointer;
                    border-radius: 5px;
                    border: 2px solid var(--subtheme-color1);
                    font-size: 15px;
                    text-transform: uppercase;
                    background-color: var(--subtheme-color1);
                    color: var(--subfont-color2);
                    transition: all 0.3s;
                }

                & .submit-btn:hover{
                    background-color: #eb3462;
                    font-size: 14.5px;
                }

                & .in-box{
                    border-radius: 3px;
                    margin-top: 15px;
                    border: 0px;
                    height: 30px;
                    width: 70%;
                    padding: 0 15px;
                    outline: none;
                    border: 1px solid rgba(0, 0, 0, 0.192);
                    background-color: var(--maintheme-color);
                }  
            } 
    
            & .back{
                margin-top: 30px;
                font-size: 14px;
                color: var(--mainfont-color);
                transition: all 0.3s;
            }
    
            & .back:hover{
                text-shadow: 0 0 2px var(--shadow-color1);
            }
        }

        & .form-signup-container.active{
            transform: translateX(-100%);
        }

        & .form-signup-container{
            left: 100%;
            min-width: 300px;
            max-width: 500px;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            transition: all 0.5s ease-in;
    
            & .signup-form{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: var(--mainfont-color);
    
                & .title{
                    font-size: 25px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    color: var(--mainfont-color);
    
                    & span{
                        color: var(--subtheme-color1);
                    }
                }
    
                & .submit-btn{
                    margin-top: 25px;
                    height: 35px;
                    width: 70%;
                    font-weight: 600;
                    cursor: pointer;
                    border-radius: 5px;
                    border: 2px solid var(--subtheme-color1);
                    font-size: 15px;
                    text-transform: uppercase;
                    background-color: var(--subtheme-color1);
                    color: var(--subfont-color2);
                    transition: all 0.3s;
                }

                & .submit-btn:hover{
                    background-color: #eb3462;
                    font-size: 14.5px;
                }

                & .in-box{
                    border-radius: 3px;
                    margin-top: 12px;
                    border: 0px;
                    height: 30px;
                    width: 70%;
                    padding: 0 15px;
                    outline: none;
                    border: 1px solid rgba(0, 0, 0, 0.192);
                    background-color: var(--maintheme-color);
                }  

                & .half-input{
                    width: 70%;
                    display: flex;
                    justify-content: space-between;

                    & .in-box {
                        width: 47.5%;
                    }
                }
            } 
    
            & .back{
                margin-top: 30px;
                font-size: 14px;
                color: var(--mainfont-color);
                transition: all 0.3s;
            }
    
            & .back:hover{
                text-shadow: 0 0 2px var(--shadow-color1);
            }
        }
    }
}