@import "../../stylesheet/ColorSheet.css";

:root {
    --productname-font: 30px;
    --brand-font: 16px;
    --price-font: 28px;
    --title-font: 18px;
    --description-font: 16px;
    --btn-font: 20px;
}

@media only screen and (max-width:5000px) {
    .showdetail-container {
        position: fixed;
        margin-top: 75px;
        margin-left: 50vw;
        width: 50vw;
        height: calc(100vh - 75px);
        display: flex;
        flex-direction: column;
        padding: 40px 5% 20px 0px;
        overflow: auto;

        & .text-box {
            & .sub-text-box {
                width: 100%;

                & .productname-box {
                    font-size: var(--productname-font);
                    font-weight: 600;
                    line-height: 2.3rem;
                    margin-bottom: 15px;
                    color: var(--mainfont-color);
                }

                & .brand-box {
                    margin-bottom: 20px;
                    font-size: var(--brand-font);
                    color: var(--subfont-color1);
                }
            }

            & .price-box {
                display: flex;
                justify-content: flex-end;
                padding-right: 20px;
                font-size: var(--price-font);
                color: var(--subfont-color3);
                font-weight: 660;
                margin-bottom: 15px;
            }
        }

        & .active-box {
            margin-bottom: 20px;

            & .quantity-box {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                font-size: var(--title-font);
                font-weight: 600;

                & span:first-child {
                    margin-right: 15px;
                    color: var(--mainfont-color);
                }

                & .num-of-quantity {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--subfont-color3);
                    width: 45px;
                    min-width: 45px;
                }

                & .quantity-btn {
                    border: 2px solid black;
                    width: 30px;
                    height: 30px;
                    min-width: 30px;
                    min-height: 30px;
                    cursor: pointer;
                }
            }

            & .button-box {
                display: flex;
                justify-content: space-around;

                & .btn {
                    border: 3px solid var(--subtheme-color1);
                    border-radius: 10px;
                    width: 48%;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: var(--btn-font);
                    font-weight: 650;
                    transition: all 0.5s;
                    text-align: center;
                    min-width: 100px;
                }

                & #order-button {
                    background-color: var(--subtheme-color1);
                    color: var(--subfont-color2);
                }

                & .btn:hover {
                    box-shadow: 0px 0px 8px var(--shadow-color2);
                    font-size: 21px;
                    cursor: pointer;
                }
            }
        }

        & .line{
            border: 1px solid var(--mainfont-color);
            margin-bottom: 15px;

        }

        & .des-ti {
            font-size: var(--title-font);
            font-weight: 600;
            margin-bottom: 10px;
            color: var(--mainfont-color);
        }

        & .des-text {
            margin: 0px 20px;
            white-space: pre-wrap;
            word-wrap: break-word;
            border-collapse: collapse;
        }
    }
}

@media only screen and (max-width:1100px) {
    .showdetail-container {
        margin-top: 130px;
    }
}

@media only screen and (max-width:870px) {
    .showdetail-container {
        margin-top: calc(170px + (((100vh - 170px) * 1 / 3)));
        margin-left: 0px;
        padding-left: 5%;
        width: 100vw;
        height: calc((100vh - 170px)*2/3);
    }

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(121, 121, 121, 0.041);
    border-radius: 15px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(204, 204, 204, 0.3);
    background-color: #b8b8b8;
    margin-top: 50px;

}