@import "../../stylesheet/ColorSheet.css";

.add-container{
    margin-top: 75px;
    position: fixed;
    display: flex;
    overflow: auto;
    height: calc(100vh - 75px);
    width: 100%;
}

.submit-btn{
    background-color: #FF2E63 !important;
}

.ant-input:focus {
        border-color: #FF2E63;
        box-shadow: #FF2E63;
}

.ant-input:hover {
    border-color: #FF2E63;
    box-shadow: 0 0 6px #FF2E63;
}

.ant-card{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ant-btn{
    margin-right: 15px;
}