@import "../../stylesheet/ColorSheet.css";

.custom-cardO {
    border: 1px solid #d9d9d9; /* Custom border */
    border-radius: 8px; /* Rounded corners */
    position: absolute;
    margin-top: 85px;
    margin-left: 80px;
    border: 0px solid;
    width: 50%;
    box-shadow: 0px 2px 10px var(--shadow-color1);
    font-size: 24px;
    text-align: center;
}

.color-id {
    color: var(--orderid-color);
    margin-left: 10%;
}

.custom-cardO .card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.custom-cardO .location-icon {
    margin-right: 30px; /* เพิ่มช่องว่างระหว่างไอคอนกับข้อความ */
    margin-left: -30px;
}

.color-price {
    color: var(--subfont-color3);
    margin-left: 21%;
    margin-right: 0%;
}

.img-pos {
    position: fixed;
    margin-top: auto;
}

  