@import "../../stylesheet/ColorSheet.css";

.container {
  width: 100vw;
  position: fixed;
  margin-top: 75px;
  /* height: calc(100vh - 75px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.image-container {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 30px;
}

.circular-image {
  width: 100%;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.button-container{
  text-align: center; 
}