@import "../../stylesheet/ColorSheet.css";

.container {
  justify-content: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  height: auto; /* Allow container to expand based on its content */
  width: 100%;
}

.image-container {
  margin-top: 75px;
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-image {
  width: 100%;
}

.button {
  margin-top: 10px;
}
