@import "../../stylesheet/ColorSheet.css";

@media only screen and (max-width:5000px){
	.profile-container {
		position: fixed;
		margin-top: 75px;
		width: 100vw;
		height: calc(100vh - 75px);
		overflow-y: auto;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
	
		& .image-container{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 120px;
			height: 120px;
			min-width: 120px;
			min-height: 120px;
			margin-top: 50px;
			margin-bottom: 20px;
			border-radius: 50%;
			overflow: hidden;
	
			& img{
				width: 100%;
			}
			
		}
	
		& .profile-detail{
			display: flex;
			flex-direction: column;
			align-items: center;
			& .ant-table-thead > tr > th{	
				background-color: #FF2E63; 
				text-align: center;
				color: white;
				/* border: rgb(0, 0, 0) 1px solid; */
				
			
			}
			
		}
	  
		& .button-container{
			margin-top: 20px;
			margin-bottom: 40px;
			height: 32px;
	
			& button{
				
				
				transition: all 0.5s;
			}
			& button:hover{
				box-shadow: 0 0 3px 1px #FF2E63;
                 font-size: 15px;
			}
			
		}
	
	}
}


@media only screen and (max-width:1100px){
	.profile-container{
		margin-top: 130px;
		height: calc(100vh - 130px);
	}
}

@media only screen and (max-width:870px){
	.profile-container{
		margin-top: 170px;
		height: calc(100vh - 170px);
	}
}
