@import "../../stylesheet/ColorSheet.css";

@media (max-width: 5000px) {
    .custom-cardA {
        border: 1px solid #d9d9d9; /* Custom border */
        border-radius: 8px; /* Rounded corners */
        margin-top: 90px;
        width: 30%;
        box-shadow: 0px 2px 10px var(--shadow-color1);
        font-size: 24px;
        margin-left: 65%;
        height: auto; /* เปลี่ยนจากค่า fix เป็น auto */
        padding: 20px;
        display: flex;
        flex-direction: column; /* เพื่อให้เนื้อหาเรียงตามแนวตั้ง */

        .ant-card-body {
            width: 100%;
        }
    }
    
    .custom-cardA .buttonAddr {
        align-self: flex-start; /* ให้ปุ่มอยู่ด้านล่างของ card */
        margin-top: 20px;
        padding: 10px 20px;
        background-color: var(--serface-color);
        border: none; /* ลบเส้นขอบ */
        transition: background-color 0.3s ease;
    }
    
    .custom-cardA .buttonAddr:hover {
        background-color: #fa3869; /* เปลี่ยนสีเมื่อ hover */
        color: white;
    }
    

    .custom-cardA .card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
  
    .ant-card.ant-card-bordered{
        padding: 1px;
        z-index: 0;
    }

    .custom-cardA .location-icon {
        margin-right: 8px; /* เพิ่มช่องว่างระหว่างไอคอนกับข้อความ */
    }
    

}

@media (max-width: 1100px) {
    .custom-cardA {
        margin-top: 145px;
    }

}


@media (max-width: 870px) {
    .custom-cardA {
        margin-top: 185px;
    }

}